<section id="sidebar" class="sidebar"> 
    <div class="sidebar-text">
      <h1><a href="{{ "/projects/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h6>{{ site.description | default: site.github.project_tagline }}</h6>
    </div>
    <div class="sidebar-links">
        {% assign identifier = page.url | split: "/" | last %}
        {% if identifier  == "released" %}
            released
        {% else %}
            <a href="{{ "/projects/released" }}">released</a>
        {% endif %}
        / 
        {% if identifier  == "ongoing" %}
            ongoing
        {% else %}
            <a href="{{ "/projects/ongoing" }}">ongoing</a>
        {% endif %}
        / 
        <a href="{{ "https://github.com/meebuhs" }}">github</a> / <a href="{{ "/resume" }}">resume</a>
    </div>
</section>