// Colours

$primary-highlight: #f2777a;
$secondary-highlight: #66cccc;
$tertiary-highlight: #ffcc66;

$sidebar-colour: #1a2a38;
$hover-colour: #e5e5e5;
$summary-colour: #474747;
$text-colour-light: white;
$text-colour-dark: black;

// Sizes

$sidebar-width: 330px;
$sidebar-height-min: 100px;
$sidebar-height: 150px;