@import "colours";
@import "fonts";

$sidebar-width: 330px;

.cover-text {
    h1 {
        margin: 0;
        :hover {
            color: lighten($primary-highlight, 14%);
        }
    }
    h6 {
        text-transform: uppercase;
        font-size: .9rem;
        color: $text-colour-light;
    }
    a {
        color: $primary-highlight;
        :hover {
            color: lighten($primary-highlight, 24%);
        }
    }
}

.open-button {
    height: 50px;
    width: 200px;
    border: 2px solid white;
    border-radius: 5px;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $sidebar-colour;
    color: white;
    &:hover, &:focus {
        background-color: white;
        color: $sidebar-colour
    }
}

.open-button-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.cover {
    height: 100%;
    width: 100%;
    display: flex;
    top: 0;
    position: fixed;
    z-index: 9999;
    background: $sidebar-colour;
    color: $text-colour-light;
    transition: all .3s ease;
}

/* vertical layout */
@media only screen and (max-width: calc(2 * #{$sidebar-width - 1})), (orientation: portrait) {
    #cover {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .cover-text {
        display: flex;
        flex-direction: column;
    }
}

/* horizontal layout */
@media only screen and (min-width: calc(2 * #{$sidebar-width})) and (orientation: landscape) {
    #cover {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}