.post {
    width: 100%;
}

.post-buttons {
    margin: 3em 0;
}

.post-title h1 {
    margin: 0;
}

.post-description {
    margin-bottom: 0.5em;
}

.post-date {
    color: $secondary-highlight;
    font-weight: bold;
    font-size: 0.9rem;
}

.post-image {
    display: block;
    max-width: 70%;
    max-height: 50vh;
    margin: 2em auto 0 auto;
    border-radius: 5px;
}

.post-category { 
    font-weight: bold;
    font-size: 0.9rem;
    color: $primary-highlight;
    &:hover, &:focus {
        color: lighten($primary-highlight, 14%);
    }
}

.post-content {
    margin-bottom: 2em;
}

.post-content img {
    max-width: 90%;
    max-height: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}