.post {
    margin-top: 4em;
    width: 100%;
}

.post-date {
    color: $secondary-highlight;
    font-weight: bold;
    font-size: 14px;
}

.post-category { 
    font-weight: bold;
    font-size: 14px;
    color: $primary-highlight;
    &:hover, &:focus {
        color: lighten($primary-highlight, 14%);
    }
}

.post-content img {
    max-width: 90%;
    max-height: 600px;
    display: block;
    margin: 0 auto;
}