@import "constants";
@import "fonts";

.sidebar-text, .sidebar-links {
    h1 {
        margin: 0;
        :hover {
            color: lighten($primary-highlight, 14%);
        }
    }
    h6 {
        text-transform: uppercase;
        font-size: .9rem;
        color: $text-colour-light;
    }
    a {
        color: $primary-highlight;
        :hover {
            color: lighten($primary-highlight, 24%);
        }
    }
}

#sidebar {
    display: flex;
    top: 0;
    position: fixed;
    z-index: 9999;
    background: $sidebar-colour;
    color: $text-colour-light;
    transition: all .35s ease;
}

/* vertical layout */
@media only screen and (max-width: calc(2 * #{$sidebar-width - 1})), (orientation: portrait) {
    #sidebar {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }

    .sidebar {
        width: 100%;
        height: $sidebar-height;
    }

    .sidebar-minimised {
        width: 100%;
        height: $sidebar-height-min;
    }

    .sidebar-text {
        display: flex;
        flex-direction: column;
    }

    .content {
        flex: 1;
        max-width: 100%;
        margin: 190px 1em 1em 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content-fader {
        position: fixed;
        bottom: 0;
        right: 0;
        height: calc(100% - #{$sidebar-height});
        width: 100%;
        z-index: 9999;
        pointer-events: none;
        background: white;
        opacity: 1;
        animation-duration: .35s;
        animation-timing-function: ease;
    }

    #sidebar-fader {
        position: fixed;
        top: 0;
        left: 0;
        height: $sidebar-height;
        width: 100%;
        z-index: 9999;
        pointer-events: none;
        background: $sidebar-colour;
        opacity: 1;
        animation-duration: .35s;
        animation-timing-function: ease;
    }
}

/* horizontal layout */
@media only screen and (min-width: calc(2 * #{$sidebar-width})) and (orientation: landscape) {
    #sidebar {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .sidebar, .sidebar-minimised {
        width: $sidebar-width;
        height: 100%;
    }
    
    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 1em 1em 1em calc(1em + #{$sidebar-width});
    }

    .sidebar-links {
        margin-top: 1.67em;
    }

    #content-fader {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - #{$sidebar-width});
        height: 100%;
        z-index: 9999;
        pointer-events: none;
        background: white;
        opacity: 1;
        animation-duration: .35s;
        animation-timing-function: ease;
    }

    #sidebar-fader {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100%;
        width: $sidebar-width;
        z-index: 9999;
        pointer-events: none;
        background: $sidebar-colour;
        opacity: 1;
        animation-duration: .35s;
        animation-timing-function: ease;
    }
}

@keyframes fade-out {
    from { 
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from { 
        opacity: 0
    }
    
    to {
        opacity: 1
    }
}

#content-fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#content-fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

#sidebar-fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#sidebar-fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}