---
layout: default
---

{% if page.mathjax %}
  {% include mathjax.html %}
{% endif %}

<section class="content">
  <svg id="content-fader"></svg>
  <div class="post">
    <div class="post-buttons">
      <a href="{{ site.url }}\projects\" class="button-light-primary fade-onclick">Home</a>
      {% if page.urls.source %}
        <a href="{{ page.urls.source }}" class="button-light-secondary">See the source</a>
      {% endif %}
      {% if page.urls.download %}
        <a href="{{ page.urls.download }}" class="button-light-tertiary">Download {{ page.title }}</a>
      {% endif %}
      
    </div>

    <div class="post-title"><h1>{{ page.title }}</h1></div>
    <div class="post-description">{{ page.description }}</div>
    <div class="post-header">
      <span class="post-date">{{ page.date | date_to_string}}</span>
      &middot;
      <a href="{{ "/projects/" }}{{ page.category }}" class="fade-onclick"><span class="post-category">{{ page.category }}</span></a>
    </div>
    <a class="clickable-image" href="{{ page.images.top }}">
      <img class="post-image" alt="{{ page.title }} | {{ page.description | truncate: 80 }}" src="{{ page.images.top }}" />
    </a>

    <div class="post-content">
      {{ content }}
    </div>

    <div class="post-buttons">
      <a href="{{ site.url }}\projects\" class="button-light-primary fade-onclick">Home</a>
      {% if page.urls.source %}
        <a href="{{ page.urls.source }}" class="button-light-secondary">See the source</a>
      {% endif %}
      {% if page.urls.download %}
        <a href="{{ page.urls.download }}" class="button-light-tertiary">Download {{ page.title }}</a>
      {% endif %}
    </div>
  </div>
  {% include footer.html %}  
</section>