---
layout: default
---

<section class="content">
  <svg id="content-fader"></svg>
  <div class="list-posts">
    {% assign posts = site.categories[page.category] | default: site.posts %} 
    {% for post in posts %}
    <div class="list-post">
      <a href="{{ post.url }}" class="fade-onclick">
        <div class="list-post-link">
          {% if post.images.cover %}
            <img class="list-post-image" src="{{ post.images.cover }}" />
          {% endif %}
          <div class="list-post-info">
            <div class="list-post-title">{{ post.title }}</div>
            <div class="list-post-summary">{{ post.summary }}</div>
          </div>
        </div>
      </a>
      <div class="list-post-footer">
        <span class="list-post-date">{{ post.date | date_to_string}}</span>
        &middot;
        <a href="{{ "/projects/" }}{{ post.category }}" class="fade-onclick"><span class="list-post-category">{{ post.category }}</span></a>
        <div class="list-post-tags">
          {{ post.tags | join: ", "}}
        </div>
      </div>
    </div>
    {% endfor %} 
  </div>
  {% include footer.html %}
</section>
<script src="/assets/js/post-grid-init.js"></script>
